<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>

<p>
  <strong>Interest:</strong>
  <%= @topic.interest %>
</p>

<p>
  <strong>Body:</strong>
  <%= @topic.body %>
</p>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
